@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;600;800&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 1.8rem; /* 18px */
    line-height: 1.4;
    background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    
}

/** NAVEGACIÓN **/
.nav {
    width: 100%;
    background-color: #41345e;
    position: fixed;
    z-index: 99;
    height: 70px;
    top: 0;  
} 

.nav-list {
    display: flex;
    height: 100%;
    justify-content: flex-end;
    column-gap: 1rem;
}

.nav li  {
    transition: ease-in-out .4s;
    padding: .5rem;
    height: 100%;
}

.nav li:last-child {
    margin-right: 1rem;
}

.nav ul li a {
    color: #eee;
    font-size: .8rem;
    text-decoration: none;
}

.nav ul li:hover {
    background-color: #171d228c;
}


/** HOME **/
.home {
    height: 100vh;
    background-image: url(../assets/img/code-1839406.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
}

.container__home {
    display: flex;
    justify-content: center;
    align-items: center;
}

.title__home {
    flex-direction: column;
}

.title__home h1 {
    color: #fff;
    margin-left: 2rem;
    font-weight: 600;
    font-size: 2rem;
}

.title__home h2 {
    color: #fff;
    margin-left: 2rem;
    font-weight: 600;
    font-size: 1rem;
}

/** SOBRE MI **/
.sobre-mi {
    height: auto;
    color: #ddd;
    margin-bottom: 3rem;
}

.title {
    padding-top: 7rem;
    text-align: center;
}

.title h1 {
    font-size: 36px;
    font-weight: 600;
    color: #ddd;
}

.title h2 {
    background:#41345e;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 60px 40px -7px;
    display: inline-block;
    padding: 2px 10px;
    color: #eee;
    margin: 7px 0;
    clear: both;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 50px;
}
.left-about{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.left-about p {
    color: #eee;
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
    margin-bottom: 20px;
    margin: 1rem;
}

.button-download {
    background: none;
    color: #eee;
    border: 4px solid #392f3f;
    margin: 10px 0;
    font-size: 10px;
    max-width: 230px;
    padding: 10px 19px;
    transition: all .4s;
    text-decoration: none;
    align-self: center;
}

.button-download:hover {
    background-color: #392f3f;
    color: #eee;
}

.image {
    display: flex;
    justify-content: center;
}

.image img {
    max-width: 240px;
    border: 6px solid #392f3f;
    margin-bottom: 50px;
}

.skills h5 {
    font-size: 10px;
    font-weight: 400;
    letter-spacing: 1px;
    color: #eee;
    margin: 3px 0 9px;
    margin-left: 35px;
}

.skills h5 span {
    float: right;
}

.progress {
    height: 8px;
    overflow: hidden;
    background-clip: #eee;
    margin-bottom: 35px;
    border-radius: 3px;
    margin-left: 35px;
}

.progress-bar {
    float: left;
    width: 0;
    height: 100%;
    background-color: #392f3f;
}

/* .sobre-mi {
    height: 100vh;
    padding-top: 7rem;
    color: #ddd;
}

.sobre-mi h1 {
    text-align: center;
    font-weight: 600;
    font-size: 2rem;
}

.sobre-mi p {
    max-width: 30rem;
    color: #ddd;
    font-size: 1rem;
    text-align: center;
}

.container__about{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    row-gap: 2rem;
}


.sobre-mi img {
    border-radius: 3px;
    border: 2px solid #54345e;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.5);
    max-height: 15rem;
    margin-top: 2rem;
} */


/** Proyectos **/
#proyectos h1 {
    color: #ddd;
    text-align: center;
    padding-top: 6rem;
    font-size: 2rem;
    font-weight: 600;
}

.container-grid {
    margin-bottom: .5rem;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: auto;
    gap: 1rem;
    padding: 2rem;
}


.movie {
    margin: 2rem;
    margin-bottom: 2rem;   
    background-color: #41345e;
    padding: 1.5rem;
    border-radius: 5px;
}

.movie h2 {
    color: #ddd;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
    font-weight: normal;
}

.movie img {
    width: 100%;
    max-height: 350px;
    min-height: 300px;
    border-radius: 5px;
    transition: ease-in-out 1.5s;
}

.movie img:hover {
    transform: scale(1.1);
} 



/** CONTACTO **/
.contacto {
    /* padding-top: 6rem; */
    height: 100vh;
}

.contacto h1 {
    color: #ddd;
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
}

.formulario {
    margin-bottom: 5rem;
    color: #fff;
    border-radius: 15px;
    padding: 2rem;
}

.formulario fieldset {
    border-radius: 5px;
    border: none;
    font-size: 1rem;
}

.formulario label {
    font-size: 1rem;
}

.formulario input, .formulario textarea {
    margin-bottom: 1.5rem;
    margin-top: 1rem;
    padding: .4rem;
    border: none;
    border-radius: 5px;
    width: 100%;
    font-size: 1rem;
    background: none;
    border: 2px solid #41345e;
    outline: none;
    color: #eee;
}

.formulario input::placeholder, textarea::placeholder {
    text-align: left;
    color: #eee;
    font-weight: 300;
    padding: 1rem 0;
    font-family: 'Poppins', sans-serif;
}

textarea::placeholder  {
    padding: .2rem .2rem;
}

.button {
    padding: .6rem;
    border: none;
    color: aliceblue;
    outline: none;
    width: 15rem;
    cursor: pointer;
    background-color:#41345e;
    transition: all .4s;
    border-radius: 5px;
}

.button:hover {
    background-color:#54345e;
}

.formulario textarea {
    resize: none;
}


/** FOOTER **/
.footer {
    background-color: #41345e;
    padding: 1rem;
    color: #eee;
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 1rem;
}
.footer p {
    font-size: .8rem;
    margin-bottom: 0;
}
.contact-links {
    display: flex;
    column-gap: .3rem;
}
.contact-links a {
    color: aliceblue;
    font-size: 1rem;
    margin-right: 1rem;
}

/*** SCROLL BAR ***/
::-webkit-scrollbar{
    width: .6rem;
    border-radius: .5rem;
    background-color: #54345e;
}
::-webkit-scrollbar-track {
    background: #54345e;
}
::-webkit-scrollbar-thumb{
    background-color: #7647db;
    border-radius: .5rem;
    height: 1rem;
}
::-webkit-scrollbar-thumb:hover {
    background-color: #764ba2;
}

/*** BreakPoints ***/
@media screen and (min-width: 725px) {
    .nav ul li a {
        font-size: 1rem;
    }

    .title__home h1 {
        font-size: 4rem;
    }
    .title__home h2 {
        font-size: 2rem;
    }
    
    .container-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    #proyectos h1 {
        font-size: 3rem;
    }

    .container__about{
        justify-content: center;
        flex-direction: row;
        column-gap: 2rem;
        padding: 1rem;
    }
    
    .title h1 {
        font-size: 46px;
    }

    .left-about p {
        font-size: 20px;
    }
    
    .button-download {
        font-size: 16px;
        align-self: flex-start;
    }
    
    .image img {
        max-width: 340px;
    }
    
    .skills h5 {
        font-size: 16px;
    }
    
    .progress {
        height: 10px;
    }

    .contacto h1 {
        font-size: 3rem;
    }

    .formulario fieldset {
        font-size: 1.5rem;
        padding: 2rem;
    }

    .formulario input, .formulario textarea {
        font-size: 1.5rem;   
    }

    .formulario label {
        font-size: 1.5rem;
    }

    .formulario input::placeholder {
        font-size: 1.5rem;
    }

    .formulario input {
        padding: 1rem;
    }

    .footer p {
        font-size: 1rem;
    }

    .contact-links a {
        font-size: 1.5rem;
        column-gap: 1rem;
    }
}

@media screen and (min-width: 770px) {
    .button-download {
        font-size: 16px;
    }
    
    .image img {
        max-width: 340px;
        max-height: 350px;
    }
    
    .skills h5 {
        font-size: 16px;
    }
    
    .progress {
        height: 10px;
    }
}

@media screen and (min-width: 1025px) {
    .container-grid{
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto;
    }

    .image img {
        max-width: 340px;
    }
}
