@use '../base/variables' as v;
@use '../base/mixins' as m;

.footer {
    background-color: v.$morado1;
    padding: 20px 50px;
    min-height: 100px;
    width: 100%;
    color: v.$blanco;
    margin-top: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 4px 22px rgba(0, 0, 0, 0.080);
    
    .social, .menu {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 10px 0;

        li {
            list-style: none;
            outline: none;

            a {
                font-size: 1.5rem;
                color: v.$blanco;
                margin: 0 10px;
                transition: .4s;

                &:hover {
                    transform: translateY(-5px);
                }

                @include m.tablet {
                    font-size: 2rem;
                }
            }
        }
    }

    .menu {
        flex-direction: column;
        row-gap: 1rem;

        @include m.telefono {
            flex-direction: row;
        }
        li {
            a {
                font-size: 1.2rem;
                
                &:hover {
                    color: rgb(194, 129, 255);
                }

                @include m.tablet {
                    font-size: 1.5rem;
                }
            }
        }
    }

    p {
        color: v.$blanco;
        text-align: center;
        margin-top: 15px;
        margin-bottom: 10px;
        font-size: 1.1rem;

        @include m.tablet {
            font-size: 1.5rem;
        }
    }
    
}