@use '../base/variables' as v;
@use '../base/mixins' as m;

.home {
    position: relative;
    max-height: 100vh;
    min-height: 100vh;
    overflow:hidden;
    max-width: 100%;
    min-width: 100%;

    .container__home {
        position: absolute;
        background: rgb(126,2,195);
        background: linear-gradient(270deg, rgba(84, 0, 129, 0.5) 0%, rgba(134, 0, 58, 0.3) 100%);
        min-height: 100vh;
        min-width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        overflow: hidden;
    }

    video {
        width: auto;
        display: block;
    }
    
    .overlay {
        width: 100%;
        max-width: 120rem;
        margin: 0 auto; 
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        z-index: 10;
        margin-left: 2rem;

        @include m.tablet {
            margin-left: 5rem;
        }

        h1 {
            color: v.$blanco;
            font-weight: 600;
            font-size: 3rem;
            margin-bottom: 1rem;

            @include m.telefono {
                font-size: 5rem;
            }

            @include m.tablet {
                font-size: 7rem;
            }
        }

        h2 {
            color: v.$blanco;
            font-size: 1rem;
            font-weight: normal;
            background-color: v.$morado1;
            padding: .5rem;

            @include m.telefono {
                font-size: 2rem;
            }

            @include m.tablet {
                font-size: 2rem;
            }
        }
    }
}